---
import { Socials } from '@/constants';
import { BsDiscord, BsReddit, BsGithub } from 'react-icons/bs';
---

<footer class="p-2 pt-3 lg:py-auto lg:h-[7.5vh]">
  <!-- Mobile Screen Footer -->
  <span class="flex lg:hidden flex-col justify-center items-center text-sm gap-y-1">
    <span class="flex text-right text-sm">
      <a
        href={Socials.Discord}
        target="_blank"
        rel="noreferrer"
        class="font-semibold !text-blue-700 flex flex-row items-center justify-center gap-x-1"
        ><BsDiscord className="fill-blue-600" />Discord</a
      >&nbsp;|&nbsp;
      <a
        href={Socials.Reddit}
        target="_blank"
        rel="noreferrer"
        class="font-semibold !text-orange-700 flex flex-row items-center justify-center gap-x-1"
        ><BsReddit className="fill-orange-600" />Reddit</a
      >&nbsp;|&nbsp;
      <a
        href={Socials.GitHub}
        target="_blank"
        rel="noreferrer"
        class="font-semibold flex flex-row items-center justify-center gap-x-1"
        ><BsGithub />GitHub</a
      >
    </span>

    <div>
      Made with ❤️ by
      <a target="_blank" rel="noreferrer" href={Socials.GitHub} class="font-semibold">
        Pujo Atlas Kolkata
      </a>
    </div>
  </span>

  <!-- Large Screen Footer -->
  <span class="hidden lg:flex h-full justify-between items-center ml-16">
    <span class="text-left">
      Made with ❤️ by
      <a target="_blank" rel="noreferrer" href={Socials.GitHub} class="font-semibold">
        Pujo Atlas Kolkata
      </a>
    </span>
    <span class="text-right flex flex-row gap-x-2">
      <span class="font-bold">Find us on:</span>
      <a
        href={Socials.Discord}
        target="_blank"
        rel="noreferrer"
        class="hover:underline hover:underline-offset-1 hover:decoration-2 hover:decoration-blue-600 flex flex-row items-center gap-x-2"
      >
        <BsDiscord className="size-6 fill-blue-600" />
        Discord
      </a>
      &nbsp;|&nbsp;
      <a
        href={Socials.Reddit}
        target="_blank"
        rel="noreferrer"
        class="hover:underline hover:underline-offset-1 hover:decoration-2 hover:decoration-orange-600 flex flex-row gap-x-2"
      >
        <BsReddit className="size-6 fill-orange-600" />
        Reddit
      </a>
    </span>
  </span>
</footer>
