---
import { Socials } from '@/constants';
import { cn } from '@/libs/utils';
import { SiDiscord, SiReddit, SiGithub } from 'react-icons/si';
---

<footer class="p-2 pt-3 lg:py-auto lg:h-[7.5vh]">
  <!-- Mobile Screen Footer -->
  <div class="flex lg:hidden flex-col justify-center items-center text-sm gap-y-3">
    <span class="w-full flex justify-evenly items-center">
      <a
        href={Socials.Discord}
        target="_blank"
        rel="noreferrer"
        class={cn(
          'hover:underline hover:underline-offset-1',
          'hover:decoration-2 hover:decoration-[#5865F2]',
          'flex items-center gap-x-2 font-work font-semibold',
          'relative before:h-1/2 before:aspect-square before:bg-white before:absolute',
          'before:top-1/2 before:left-3 before:block before:rounded-full before:-z-10',
          'before:-translate-x-1/2 before:-translate-y-1/2',
        )}
      >
        <SiDiscord className=" fill-[#5865F2]" size={25} /> Discord
      </a>|
      <a
        href={Socials.Reddit}
        target="_blank"
        rel="noreferrer"
        class={cn(
          'hover:underline hover:underline-offset-1',
          'hover:decoration-2 hover:decoration-[orangered]',
          'flex items-center gap-x-2 font-work font-semibold',
          'relative before:h-4/5 before:aspect-square before:bg-white before:absolute',
          'before:top-1/2 before:left-3 before:block before:rounded-full before:-z-10',
          'before:-translate-x-1/2 before:-translate-y-1/2',
        )}
      >
        <SiReddit className={cn('fill-[orangered]')} size={25} /> Reddit
      </a>
      |
      <a
        href={Socials.GitHub}
        target="_blank"
        rel="noreferrer"
        class={cn(
          'hover:underline hover:underline-offset-1',
          'hover:decoration-2 hover:decoration-black',
          'flex items-center gap-x-2 font-work font-semibold',
        )}
      >
        <SiGithub className={cn('fill-black bg-white rounded-full')} size={25} /> GitHub
      </a>
    </span>
    <span>
      Made with ❤️ by
      <a target="_blank" rel="noreferrer" href={Socials.GitHub} class="font-semibold">
        Pujo Atlas Kolkata
      </a>
    </span>

    <span class="w-full">
      <a href="https://www.netlify.com">
        <img
          class="w-full h-10"
          src="https://www.netlify.com/v3/img/components/netlify-light.svg"
          alt="Deploys by Netlify"
        />
      </a>
    </span>
  </div>

  <!-- Large Screen Footer -->
  <div class="hidden lg:flex h-full justify-between items-center ml-16">
    <span class="text-left">
      Made with ❤️ by
      <a target="_blank" rel="noreferrer" href={Socials.GitHub} class="font-semibold">
        Pujo Atlas Kolkata
      </a>
    </span>
    <span class="text-right font-bold flex items-center gap-x-2">
      <span class="font-bold">Find us on:</span>
      <a
        href={Socials.Discord}
        target="_blank"
        rel="noreferrer"
        class={cn(
          'hover:underline hover:underline-offset-1',
          'hover:decoration-2 hover:decoration-[#5865F2]',
          'flex items-center gap-x-2 font-work font-semibold',
          'relative before:h-1/2 before:aspect-square before:bg-white before:absolute',
          'before:top-1/2 before:left-3 before:block before:rounded-full before:-z-10',
          'before:-translate-x-1/2 before:-translate-y-1/2',
        )}
      >
        <SiDiscord className=" fill-[#5865F2]" size={25} /> Discord
      </a>
      |
      <a
        href={Socials.Reddit}
        target="_blank"
        rel="noreferrer"
        class={cn(
          'hover:underline hover:underline-offset-1',
          'hover:decoration-2 hover:decoration-[orangered]',
          'flex items-center gap-x-2 font-work font-semibold',
          'relative before:h-4/5 before:aspect-square before:bg-white before:absolute',
          'before:top-1/2 before:left-3 before:block before:rounded-full before:-z-10',
          'before:-translate-x-1/2 before:-translate-y-1/2',
        )}
      >
        <SiReddit className={cn('fill-[orangered]')} size={25} /> Reddit
      </a>
    </span>
  </div>
</footer>
