---
import '@fontsource-variable/inter/wght.css';
import '@fontsource-variable/work-sans';
import '@fontsource-variable/noto-sans-bengali';
import '@fontsource-variable/alkatra';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import workSansWoff2 from '@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2?url';
import notoSansWoff2 from '@fontsource-variable/noto-sans-bengali/files/noto-sans-bengali-latin-wght-normal.woff2?url';
import alkatraWoff2 from '@fontsource-variable/alkatra/files/alkatra-latin-wght-normal.woff2?url';

import Header from '@/components/shared/Header.astro';
import Footer from '@/components/shared/Footer.astro';
import BottomNav from '@/components/app/shared/BottomNav.astro';
import { cn } from '@/libs/utils';

type Props = {
  title?: string;
  description?: string;
};

const {
  title = 'Web App',
  description = 'Welcome to Pujo Atlas - your ultimate guide for Pandal Hopping during Durga Puja in Kolkata!',
} = Astro.props as Props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="preload" as="font" type="font/woff2" href={workSansWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={alkatraWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={notoSansWoff2} crossorigin="anonymous" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <script is:inline>
      const MAX_WIDTH = 768;

      // redirect to 404 page if the screen size is greater than 768px
      function checkScreenSize() {
        if (window.innerWidth > MAX_WIDTH) {
          window.location.href = '/404';
        }
      }

      window.addEventListener('load', checkScreenSize);
      window.addEventListener('resize', checkScreenSize);
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-56WWMK6TC4"></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line prefer-rest-params
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-56WWMK6TC4');
    </script>
    <!-- Google tag (gtag.js) -->
  </head>
  <body
    class={cn(
      'bg-secondary-background',
      'text-primary-foreground [&_*]:text-primary-foreground',
      'min-w-screen min-h-screen flex flex-col overflow-x-hidden',
      '[&_*::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:w-2',
      '[&_*::-webkit-scrollbar-track]:bg-primary-foreground [&::-webkit-scrollbar-track]:bg-primary-foreground',
      '[&_*::-webkit-scrollbar-thumb]:bg-secondary-background [&::-webkit-scrollbar-thumb]:bg-secondary-background',
    )}
  >
    <Header />
    <div>
      <slot />
      <BottomNav />
    </div>
    <div class="mt-auto bg-cyan-500">
      <Footer />
    </div>
  </body>
</html>
