---
import '@fontsource-variable/inter/wght.css';
import '@fontsource-variable/work-sans';
import '@fontsource-variable/noto-sans-bengali';
import '@fontsource-variable/alkatra';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import workSansWoff2 from '@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2?url';
import notoSansWoff2 from '@fontsource-variable/noto-sans-bengali/files/noto-sans-bengali-latin-wght-normal.woff2?url';
import alkatraWoff2 from '@fontsource-variable/alkatra/files/alkatra-latin-wght-normal.woff2?url';
import { cn } from '@/libs/utils';
import AppHeader from '@/components/app/shared/AppHeader.astro';
import BottomNav from '@/components/app/shared/BottomNav.astro';
import SettingsFlyout from '@/components/app/shared/SettingsFlyout';

const currentPath = Astro.url.pathname;

const image = currentPath.split('/').includes('bn') ? '/open-graph/bn.png' : '/open-graph/en.png';

type Props = {
  title?: string;
  description?: string;
};

const {
  title = 'Pujo Atlas - Interactive Maps and Real-Time Updates for Durga Puja',
  description = 'Discover the best Pandals with Pujo Atlas! Real-time updates, interactive maps and emergency helplines, for the ultimate Durga Puja Porikormo experience in Kolkata.',
} = Astro.props as Props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />

    <!-- OG tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={currentPath} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content="Pujo Atlas" />
    <meta property="og:locale" content="en_IN" />

    <!-- twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:site" content="@PujoAtlas" />

    <!-- Link tags -->
    <link rel="preload" as="font" type="font/woff2" href={workSansWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={alkatraWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={interWoff2} crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href={notoSansWoff2} crossorigin="anonymous" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Durga Puja, Kolkata Puja, Pandal map, real-time Puja updates, emergency helplines, Kolkata transit guide, Durga Puja celebrations, explore Puja, interactive maps, Pandal locations, Puja 2024, Porikormo, ABP Ananda Pujo, Shashti, Sasthi, Sashthi, Saptami, Saptomi, Shaptami, Maha Ashtami, Mahashtami, Mahashthami, Ashtami, Nabami, Navami, Dashami, Bijoya Dashami, Bijoya, Dussehra, Navaratri, Pujo Parikrama, Puja Parikrama, Durga Ma, Ma Durga, Dhunuchi Naach, Sindoor Khela, Shubho Mahalaya, Anjali, Pujo Guide, Pujo Events, Subho Bijaya, Subho Bijoya"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script is:inline>
      const MAX_WIDTH = 768;

      // redirect to 404 page if the screen size is greater than 768px
      function checkScreenSize() {
        if (window.innerWidth > MAX_WIDTH) {
          window.location.href = '/404';
        }
      }

      window.addEventListener('load', checkScreenSize);
      window.addEventListener('resize', checkScreenSize);
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-56WWMK6TC4"
      is:inline></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line prefer-rest-params
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-56WWMK6TC4');
    </script>
    <!-- Google tag (gtag.js) -->
  </head>
  <body
    class={cn(
      'bg-secondary-background',
      'text-primary-foreground [&_*]:text-primary-foreground',
      'min-w-screen min-h-screen flex flex-col overflow-x-hidden',
      '[&_*::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:w-2',
      '[&_*::-webkit-scrollbar-track]:bg-primary-foreground [&::-webkit-scrollbar-track]:bg-primary-foreground',
      '[&_*::-webkit-scrollbar-thumb]:bg-secondary-background [&::-webkit-scrollbar-thumb]:bg-secondary-background',
      (currentPath === '/app' || currentPath === '/app/') && '!overflow-y-hidden',
    )}
  >
    <span
      class="flex-1 flex flex-col gap-3 lg:gap-6 gap-y-3 lg:gap-y-2 bg-secondary-background lg:p-4 lg:py-12 lg:px-20 lg:rounded-l-xl lg:shadow-l-xl overflow-y-auto scroll-smooth"
    >
      <AppHeader />
      <slot />
    </span>
    <div class="fixed z-40 rounded-2xl">
      <SettingsFlyout client:visible client:only="react" />
    </div>
    <div class="pb-14"></div>
    <div class={cn('fixed bottom-0 left-0 right-0 z-10 bg-secondary-background')}>
      <BottomNav />
    </div>
  </body>
</html>
